/** cols */
.cols {
  display: flex;
  margin-top: -$base-line-height/2;
  margin-right: -$base-line-height/2;
  margin-left: -$base-line-height/2;
  .col {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: $base-line-height / 2;
  }
  &--no-pad {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    .col {
      padding: 0;
    }
  }
}
